<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.zemogaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ZemogaApp"
        android:allowBackup="true"
        android:icon="@drawable/zemoga_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/zemoga_round_icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash_screen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".posts.MainActivity" />
        <activity android:name=".description.DescriptionActivity"
            android:parentActivityName=".posts.MainActivity"
            android:theme="@style/AppThemeActionBar"/>
    </application>

</manifest>